
<div class=" content">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Destinations</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                <span style="cursor: pointer;" (click)="loadDestination(node)">{{node.name}}</span>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <span style="cursor: pointer;" (click)="loadDestination(node)"> {{node.name}} </span>
              </mat-tree-node>
            </mat-tree>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

