<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property resource="logger.properties" />

    <!-- <property name="HOME_LOG" value="logs/AppLogs.log"/> -->
    <!-- <property name="HOME_LOG_ARCHIVE" value="logs/archived/"/>  -->
	
	<!-- Console level logging -->
 	<appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>[%d{ISO8601}] [%t] [%L] [%-5p] [%logger{35}] %m%n</pattern>
      </encoder>
   </appender>
    <logger name="org.flywaydb" level="debug">
    	<appender-ref ref="STDOUT"/>
    </logger>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>

   <!-- File logging  -->
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HOME_LOG_ARCHIVE}app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1000MB</totalSizeCap>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <!-- <pattern>%d{date}{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern> -->
            <pattern>%d{ISO8601} [%C] [%t] [%L] %logger{35} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.flywaydb" level="debug">
    	<appender-ref ref="FILE-ROLLING"/>
    </logger>
    <!-- <logger name="org.hibernate" level="trace">
    	<appender-ref ref="FILE-ROLLING"/>
    </logger> -->
    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>