.mat-select-value-text{
  color: rgba(255, 255, 255, 0.8) !important;
}

// .mat-select{
//   border: 1px solid #2b3553;
// }

.mat-select-arrow{
  color: rgba(255, 255, 255, 0.8) !important;
}

.mat-tree-node {
  color: white !important;
}
