.mat-select-value-text{
  color: black !important;
}

// .mat-select{
//   border: 1px solid #8d919d;
// }

.mat-select-arrow{
  color: black !important;
}

.mat-tree-node{
  color: black !important;
}
