<section class="page_404">
	<div class="container">
		<div class="row text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center" style="color: black;">500</h1>
		</div>
		
        <div class="contant_box_404">
            <h3 class="h2">
            <b>OOPS! {{message}}</b>
            </h3>
            <p style="color: black;">Please Contact Support for More Information!</p>
            <!-- <a href="" class="link_404">Go to Home</a> -->
        </div>
		</div>
	</div>
</section>