<div class=" content">
    <div class=" row">
      <!-- <div class=" col-md-8"> -->
        <div class=" card">
          <div class=" card-header"><h5 class=" title">Edit Profile</h5></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Tenant Name </label>
                    <input required
                      class=" form-control"
                      placeholder="Tenant Name"
                      type="text"
                      [(ngModel)]="tenantName"
                    />
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                    <div class=" form-group">
                      <label> Tenant Unique Name </label>
                      <input
                        class=" form-control"
                        placeholder="UniqueName"
                        type="text"
                        [(ngModel)]="uniqueName"
                        required="true"
                      />
                    </div>
                  </div>
              </div>
              <div class=" row">
                <div class=" col-md-8">
                  <div class=" form-group">
                    <label> Tag Line </label>
                    <textarea
                      class=" form-control"
                      cols="80"
                      placeholder="One liner about tenant tag line"
                      rows="1"
                      [(ngModel)]="tagLine">
                    </textarea>
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                    <div class=" form-group">
                      <label> Tenant Contact </label>
                      <input
                        class=" form-control"
                        placeholder="UniqueName"
                        type="text"
                        [(ngModel)]="uniqueName"
                        required="true"
                      />
                    </div>
                  </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                    <div class=" form-group">
                      <label> Tenant Email </label>
                      <input
                        class=" form-control"
                        placeholder="UniqueName"
                        type="text"
                        [(ngModel)]="uniqueName"
                        required="true"
                      />
                    </div>
                  </div>
              </div>
            </form>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill btn-danger" type="submit">Save</button>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
