
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Tenants Detail</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>TenantName</th>
                  <th>TenantUniqueName</th>
                  <th class=" text-center">Active</th>
                  <th>TimeZone</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tenant of tenants">
                  <td>{{tenant.tenantName}}</td>
                  <td>{{tenant.tenantUniqueName}}</td>
                  <td class=" text-center"><mat-chip color="accent"> {{tenant.active}} </mat-chip>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                  </td>
                  <td>{{tenant.timeZone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
