<div class=" content">
  <div class=" row">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Edit Tenant</h5></div>
        <div class=" card-body">
          <form>
            <div class="row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label>Select Realm</label>
                  <mat-select [(ngModel)]="selectedRealm" name="realm" (selectionChange)="getRealmData($event.value)">
                    <mat-option *ngFor="let realm of realms" [value]="realm.tenant">
                      {{realm.tenant.tenantUniqueName}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class=" card" *ngIf="isRealmSelected">
        <div class=" card-header"><h5 class=" title">Renew Tenant</h5></div>
        <div class=" card-body">
          <form>
            <div class="row">
              <div class=" col-md-6">
                <div class=" form-group">
                      <label>Effective - Expiry (Tenant Validity)</label>
                      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                      </mat-date-range-input>
                      <mat-datepicker-toggle style="color: burlywood;" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </div>
              </div>
              <div class=" col-md-6">
                <label> Current subscription history : </label>
                <table>
                  <th>Start Date</th>
                  <th> - </th>
                  <th>End Date</th>
                  <tr [ngClass]="{'validsub' : sub.active}" *ngFor="let sub of subscriptions">
                    <td>{{ sub.renewedOn }}</td>
                    <td> - </td>
                    <td>{{ sub.expiry }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="onRenew()">Renew</button>
        </div>
      </div>
  </div>
</div>
